body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f2f2f2;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #4368b9;
    color: #fff;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    margin-right: 15px;
    text-decoration: none;
    background-color: #121212;
    padding: 13px;
    border-radius: 10px;
}

main {
    padding: 20px;
    flex: 1;
}


button {
    padding: 10px 15px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

footer {
    background: #4368b9;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.card p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.remove-btn {
    background: #b80101;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.desc {
    font-size: 0.9rem;
    opacity: 0.8;
    margin-bottom: 10px;
}

/* Container do formulário produtos */
.form-container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 520px;
    margin: 20px auto;
}

/* Grupo do campo */
.form-group {
    margin-bottom: 18px;
}

/* Labels */
.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Inputs e textarea */
.form-group input,
.form-group textarea {
    width: 95%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.2s ease;
    
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #4368b9;
    outline: none;
}

/* Campo inválido */
.input-error {
    border-color: #d10000 !important;
    background: #ffeaea;
}

/* Exibição dos erros */
.error-msg {
    color: #d10000;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

/* Botão */
.form-container button {
    width: 100%;
    padding: 14px;
    background: #4368b9;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

.form-container button:hover {
    background: #3459a0;
}

/* container formulario user */
.form-container-users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 520px;
    margin: 20px auto;
}

.form-user{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.form-user input{
    display: flex;
    width: 50vh;
    border-radius: 8px;
    padding: 12px;
    font-size: 15px;
    border: 2px solid #ccc;
    margin-bottom: 15px;
}

/* Botão */
.form-container-users button {
    width: 53vh;
    padding: 12px;
    background: #4368b9;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

/* Labels */
.form-user label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}


